---
// Placeholder - will be replaced in Task 7
---
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Fusspflege Lena Schneider</title>
  </head>
  <body>
    <h1>Building...</h1>
  </body>
</html>
